<div class="products card-deck">
    <div class="card">
      <img src="../../assets/clothes/clothe1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">product name</h5>
        <p class="card-text">price</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">ratting</small>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/clothes/clothe1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">product name</h5>
        <p class="card-text">price</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">ratting</small>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/clothes/clothe1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">product name</h5>
        <p class="card-text">price</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">ratting</small>
      </div>
    </div>
  </div>
